<h1>Carts</h1>
<mat-list>
  <div mat-subheader>Cart with highest value</div>
  <button mat-button (click)="calculateHighestSummary()">calculate</button>
  <mat-card *ngIf="isHighestSummaryVisible">
    <div mat-line>
      <h3 *ngIf="highestSummary.user as user">
        {{user.name?.firstname | titlecase}} {{user.name?.lastname | titlecase}}
      </h3>
    </div>
    <mat-divider></mat-divider>
    <div><b>Summary:</b> {{highestSummary.sum}}</div>
  </mat-card>
  <mat-divider></mat-divider>
  <div mat-subheader>All carts</div>
  <ng-container *ngIf="carts.length">
    <mat-card *ngFor="let cart of carts">
      <div mat-line>
        <h3 *ngIf="getUser(cart.userId) as user">
          {{user.name?.firstname | titlecase}} {{user.name?.lastname | titlecase}} ({{cart.date | date}})
        </h3>
      </div>
      <div *ngFor="let cartProduct of cart.products" mat-line>
        <ng-container *ngIf="getProduct(cartProduct.productId) as product">
          <div><b>{{product.title}}</b></div>
          <div>Qty: {{cartProduct.quantity}}</div>
          <div>Price: {{product.price}}</div>
        </ng-container>
        <mat-divider></mat-divider>
      </div>
      <div><b>Summary:</b> {{getSummary(cart)}}</div>
  </mat-card>
</ng-container>
</mat-list>
