<div class="shopOnline-category">
  <h1 mat-dialog-title>SHOP ONLINE</h1>
  <div class="button-row">
    <div class="flex-container">
      <button mat-icon-button color="primary" aria-label="Icon button with a cart icon">
        <mat-icon>cart</mat-icon>
      </button>
    </div>
  </div>
  <!-- <mat-accordion *ngIf="products$ | async as products">
    <pre>{{ products | json }}</pre>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">

        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion> -->

</div>
